nav {
  width: 100%;
  color: #fff;
  padding: 6px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;
  background: rgba(75, 144, 196, 0) ;
  backdrop-filter: blur(10px);
}

nav ul li {
  list-style: none;
  margin: 8px 24px;
  font-size: 18px;
  display: inline-block;
}

/* Hamburger bars */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;       
  font-size: 28px;   
  z-index: 300;      
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animate into X when open */
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 48px;
    right: 2px;
    width: 99%;
    background: rgba(2, 6, 8, 0.871);
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 12px;
  }

  .nav-links.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .nav-links li {
    margin: 10px 0;
  }
}


nav ul li a {
  color: #fff; 
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

/* Sliding underline effect */
nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #4b90c4; 
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: #189ee1; 
}

nav ul li a:hover::after {
  width: 100%; 
}

.menu-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(4px);   
  background: rgba(0, 0, 0, 0.2); 
  -webkit-backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 50; 
}
.menu-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
