@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #010205;
  color: #ffffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* .nav-hero{
  position: relative;
   background: linear-gradient(rgba(7, 3, 34, 0.7), rgba(15, 5, 107, 0.7)),
    url('/src/assets/hero/Coventic Webpage images/background.png');
} */
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.page-content {
  padding-top: 80px; /* same as navbar height */
  
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
